<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Image Colorization</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/stylesheets/main.css">
</head>

<body>
    <h1 class="text-center mx-auto pt-3">AI Image Colorization</h1>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="overlay">
                        <form action="/" method="post" class="col-12" enctype="multipart/form-data">
                            <div class="custom-file col-12">
                                <input type="file" class="custom-file-input" name="InputImg" id="customFile">
                                <label class="custom-file-label" for="customFile">Drop image here or click to
                                    select</label>
                            </div>
                            <center><button class="btn btn-success mt-3" type="submit">Submit</button>
                                <button class="btn btn-danger mt-3 resetImg" type="reset">Clear</button>
                            </center>

                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="overlay">
                        <h2 class="InteractionHeadings">Rendered Image</h1>
                            {% if img %}
                            <img src="data:image/jpeg;base64,{{img}}" id="rendered"
                                style="max-height: 427px;    max-width: 90%;" />
                            {% endif %}
                    </div>
                </div>
            </div>
            <center>
                <h6 style="color: white; margin-top: -5px;"> Cloud-Native Hackathon <br>© 2021 All Rights Reserved.</h6>
            </center>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    <script>
        $(".resetImg").on("click", function () {
            var image_x = document.getElementById('rendered');
            image_x.parentNode.removeChild(image_x);
        });
    </script>
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</body>

</html>